*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

section{
    background-color: rgba(20, 20, 20, 0.9);
    height: 100vh;
}
.container{
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crosses{
    color: #2bc48a;
    padding: 1%;
    text-shadow: 0.5px 0.5px #fff, -0.5px 0.5px #fff, 0.5px -0.5px #fff, -1px -1px #fff, 1px 1px 1px #fff;
}

.list{
    display: flex;
    flex-direction: column;
    line-height: 5;
}
.list a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}
