@media(min-width:320px){
    .container video{
        width:80%;
    }
    .container img{
        width:80%;
        height:300px;
    }
}

@media(min-width:660px){
    .container video{
        width:80%;
    }

    .container img{
        width:80%;
        height:500px;
    }
}

@media(min-width:1000px){
    .container video{
        width:30%;
    }

    .container img{
        width:30%;
        height:300px;
    }}