*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family:arial;
}

section{
    width:100%;
    padding-top:50px;
}
.container{
    /*width:80%;*/
    margin: auto;
    /*padding:30px 10px;*/
    background-color: rgb(24, 21, 21);
    border:5px solid rgb(175, 82, 82);
    border-radius:20px;
}
.row1{
    padding:30px 10px;
}
.col1{
    display: flex;
    justify-content: space-around;
}
.col1-content{
    padding:10px;
    text-align: center;
}

.col1-content p{
    font-size: 40px;
    color:rgb(240, 54, 54);
    text-shadow: 0px 0px 5px rgb(158, 4, 4);
    background-color: rgb(105, 40, 32);
    display: inline;
    padding:0px 5px
}
/*.row2{
    padding: 30px 10px;
}*/
.col1-content h1{
    color:rgb(204, 198, 198);
    padding-bottom: 10px;
}

.col2{
    display: flex;
    justify-content: space-around;
}
.col2-content{
    width:33.33%;
    /*padding:10px;*/
    text-align: center;
}
/*.rad{
   background-color: rgb(105, 40, 32);
   height:15px;
   width:15px;
   border-radius: 50%;
   
}*/
.col2-content h1{
    color:rgb(185, 182, 182);
}

.row3{
    padding: 30px 10px;
}
.col3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.col3-content{
    /*padding:10px;*/
    text-align: center;
}
.timer{
    display:flex;
    justify-content: space-around;
}
/*.ampm{
    height:15px;
    width:15px;
   
    border-radius: 50%;
    
}*/
.col3-content h1{
    color:rgb(211, 207, 207);
}
.col3-time{
    font-size: 40px;
    color:rgb(240, 54, 54);
    text-shadow: 0px 0px 5px rgb(158, 4, 4);
    background-color: rgb(105, 40, 32);
    display: inline;
    padding:0px 5px
}

.timer p{
    font-size: 40px;
    color:rgb(240, 54, 54);
    text-shadow: 0px 0px 5px rgb(158, 4, 4);
}
span{
    color:rgb(211, 207, 207);
    font-size: 20px;
}
.rad{
    font-size:40px; 
    padding-bottom:10px;
    display:flex;
}