@media(min-width:320px){
    .row{
        width:90%;
        padding: 10px 20px;
    }
}

@media(min-width:660px){
    .row{
        width:60%;
        padding: 10px 90px;
    }
}

@media(min-width:1000px){
    .row{
        width:30%;
        padding: 10px 50px;
    }
}